Software: Code::Blocks IDE Version 20.03. Operating System: Windows.

Header Files Required:
● <stdio.h> (Standard input-output header) : Used to perform input and output operations in C. 
● <conio.h> (Console input-output header) : Perform console input and console output operations like clrscr() to clear the screen and getch() to get the character from the keyboard. 
● <stdlib.h> (Standard library header) : Perform standard utility functions.

Program requirements:
1.Minesweeper game will be a two dimensional array of buttons.
3.If the user clicks on a button that contains a mine, the game ends and all the mines are displayed
4.If the user clicks on a button that does not contain a mine, a number appears at that location indicating the number of neighbors that DO contain mines. Recall that each position has at most 8 neighbors. Note that the buttons on the edges have fewer than 8 neighbors. For example, a corner button has only three neighbors.
5.If the user clicks on a button and no number appears, then there are no mines neighboring that button.Program should then recursively keep pressing those neighboring buttons that are not next to a mine.
6.The game should end when all the buttons that contain mines have been correctly marked and all other buttons have been clicked (assuming that player have not been blown up by then!)
7.Game should use Math.random() to randomly place the mines.
